@charset "utf-8";
/* CSS Document */
* {
	border: none;
	margin:0;
	padding:0;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
html {
}
body {
	background-image:url(/images/bg.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
strong {
	font-size: inherit;
	font-weight: bolder;
}
em {
	font-size:inherit;
	font-style:italic;
}
a:link, a:visited, a:hover, a:active {
	color: #af292e;
	font-weight:bold;
}
a:hover {
	text-decoration:underline;
}
#Page, #Header, #Footer, #Navbar {
	width: 960px;
}
#Page {
	margin-left:auto;
	margin-right:auto;
}
#Header {
	height: 68px;
}
.leftLogo {
	float:left;
	width: 100px;
	height:auto;
	margin-left: 30px;
}
.midLogo {
	float:left;
	width: 555px;
	height: 53px;
	margin: 15px 0 0 10px;
}
.greet {
	color: #af292e;
	font-weight: bold;
	font-size:14px;
}
.account ul {
	list-style:none;
	margin-top:5px;
}
.account ul li {
	display: inline;
	color: #999;
	font-weight:bold;
	font-size: 14px;
	margin-right: 20px;
}
li.cart {
	background-image: url('/images/cart.png');
	background-repeat:no-repeat;
	border: none;
	padding-left: 18px;
}
.rightLogo {
	float:right;
	padding: 10px 30px 0 0;
	width: 235px;
}
.rightLogo img {
	float:right;
}
#Navbar {
	background-color:#ebebeb;
	display:block;
	height: 49px;
}
#main-nav {
	width: 120px;
}
/* Drop Down Menu CSS is located in style.ddm.css */
#searchwrapper {
	float: left;
	width: 560px;
	height: 49px;
}
.searchFrame {
	background-image: url('/images/searchbg.png');
	background-repeat:no-repeat;
	height: 49px;
	width: 545px;
	display: block;
	position:relative;
}
input.searchBox {
	border:0;
	display:inline;
	height: 23px;
	width: 496px;
	margin: 13px;
}
input.searchBox_submit {
	bottom: 36px;
    display: inline;
    float: right;
    padding: 1px;
    position: relative;
    right: 6px;
}
#contact, #chat {
	color: #999;
	float: left;
	width: 140px;
}

#chat {
	margin: 8px 0 8px 5px;
}
#chat img {
	float: left;
	padding: 10px;
}
#chat h4 {
	font-size: 14px;
	font-weight:bold;
}
#chat span {
	clear:both;
	text-transform:uppercase;
	font-weight:bold;
	word-break:break-all;
}
#contact h4 {
	font-size: 18px;
	font-weight:bold;
	margin: 12px;
	text-align:center;
	vertical-align:middle;
}
#Content, #List {
	margin: 30px;
	width: auto;
}
.categories {
	float: left;
	height: auto;
	width: 300px;
}
.categories h2, .products h2 {
	color: #af292e;
	font-size: 15px;
	font-weight:bold;
	text-transform:uppercase;
	padding: 0 0 12px;
}
.p_thumb {
	height: 75px;
	width: 75px;
	margin: 0 25px;
}
.products table {
	width: 100%;
	padding: 5px;
}
.products th {
	color: #999;
	background-color: #ebebeb;
	font-weight: bold;
	text-align:center;
	vertical-align:top;
	padding: 5px;
}
.products td {
	padding: 3px;
	vertical-align:top;
}
.products td h3 {
	font-weight:bold;
	font-size: 14px;
	text-align:center;
	padding: 10px;
}
.products th.thm {
	width: 100px;
}
.products tr.shade {
	background-color: #ebebeb;
}
.products tr.noshade {
	background-color: #fff;
}
.accessories {
	float: left;
	height: auto;
	width: 224px;
}
.prod {
	float: left;
}
.pimage {
	width: 270px;
	margin: 0 20px 0 0;	
}
.pimage h5.enlarge {
	text-align:center;
}
.pdescr {
	width: 360px;
	margin: 0 20px;	
}
.pdescr h2 {
	border-bottom: 1px solid #999;
	color: #af292e;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	text-transform:uppercase;
}
.pdescr .part {
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.pdescr .descrip {
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.pacart {
	width: 190px;
	margin: 0 0 0 20px;
}
.price {
	font-size: 16px;
	font-weight:bold;
}
.price span {
	color: #af292e;
	font-weight:inherit;
	font-size:inherit;
}
.stock {
	text-transform:uppercase;
	font-weight: bold;
	color: #00cc33;
}
.cart {
	background-image: url('/images/addcart_bg.png');
	background-repeat:repeat-x;
	border: 1px solid #999;
	height: 114px;
	width: 186px;
}
td.checkout {
	padding: 10px 0;
	text-align:right;
}
table.shipto td {
	padding: 5px;
}
.action {
	margin: 15px;
}
.action div {
	padding-bottom: 10px;
}
.addcart {
	display:block;
}
input.addtocart {
	display: inline;
	width: 113px;
	height: 25px;
}
select.select_qty {
	display:inline;
	float:right;
	height: 26px;
	font-weight: bold;
}
.wishlist {
	background-color: #ebebeb;
	border: 1px solid #999;
	font-weight: bold;
	margin-top: 10px;
	padding: 5px;
	text-align:center;
	text-transform: uppercase;
}
.wishlist a {
	color: #999;
}
.component {
	margin-top: 30px;
}
.component h3 {
	border-bottom: 1px solid #999;
	color:#af292e;
	font-weight:bold;
	font-size:14px;
	padding-bottom: 5px;
	text-transform:uppercase;
}
.accessories {
	float:left;
	margin-top: 10px;
	padding-right: 10px;
	width: 18.8%;
}
.accessories img {
	margin-left: 25px;
	margin-bottom: 10px;
	width: 75px;
	height: 75px;
}
.accessories h4 {
	margin-left: 25px;
	margin-bottom: 5px;
	color: #999;
	font-weight: bold;
}
/*Cart Style*/
form.sscart td {
	width: 15%
}
form.sscart input[type=text] {
	border: 1px solid #999;
	margin-left: 5px;
	margin-right: 5px;
	padding: 3px;	
	width: 75%;
	text-align:right;
}
form.sscart input[type=submit] {
	border: 1px solid #999;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;	
	text-align:right;
}
form.sscart td.qty {
	width: 5%;
}
form.sscart td.remp {
	width: 5%;
}
.status {
	text-align:center;
}
.ok {
	color:#009900;
	font-weight: bold;
	position: relative;
	bottom: 12px;
}
.error {
	color: #ff0000;
	font-weight: bold;
}
.cleartot {
	border-top: 1px solid #999;
}
.clearcart {
	float: left;
	padding: 10px 0;
}
.subtotal {
	float:right;
	font-weight: bold;
	padding: 10px 0;
	text-align:right;
}
span#subprice {
	color: #AF292E;
	font-weight:bold;
}
#NextPrev {
}
td#Prev {
	text-align:left;
}
td#Pages {
	text-align:center;
}
td#Next {
	text-align:right;
}
span.curpage {
	text-decoration:underline;
}
#Footer {
	display: block;
	background-color: #ebebeb;
	height: 45px;
	position:relative;
}
.copyright {
	color: #999;
	display:block;
	float: left;
	font-weight:bold;
	margin: 15px 0 0 30px;
	width: 300px;
}
.footerLogo {
	float:right;
	margin: 5px 30px 0 0;
	width: 500px;
}
.footerLogo img {
	float:right;
}
.loading {
	text-align:center;
	width: 100%;
}
.itemadded {
	border: 1px solid #999;
	background-color: #fff;
}
.ui-dialog-title {
	font-weight: bold;
}
.shopchoice {
	margin-left:auto;
	margin-right:auto;
	padding-top: 20px;
	text-align:center;
	width:100%;
}
.shopchoice span {
	padding: 10px;
}
.clear:after, #Content:after, .categories:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}