@charset "utf-8";
/* CSS Document */

span.ucase {
	text-transform:uppercase;
	clear:both;
	font-weight:bold;
}
li.dir, li.dir a, li.dor, li.dor a {
	font-weight:bold;
}

/*Removes bullets for the lists*/
ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style:none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}
ul.dropdown {
	position:relative;
	margin-left:7px;
	float:left;
	z-index:9998;
}
/*--------------
 * @section		Base Style Override
 */
 /*styles the unhovered dropdown menu*/
ul.dropdown li {
	float:left;
	vertical-align:middle;
	zoom:1px;
	width:175px;
	color:#999;
	text-align:center;
	padding:7px 10px;
	letter-spacing:0;
}
/*This style the dropdown menu when it's hovered but it doesn't have a link*/
ul.dropdown li.hover, ul.dropdown li:hover {
	position:relative;
	z-index:auto;
	cursor:default;
	color:#FFF;
}
/* -- level mark -- */
/*This is the first dropdown that is hidden until hovered over*/
ul.dropdown ul {
	visibility:hidden;
	position:absolute;
	top:100%;
	left:-1px;
	z-index:999;
	width:175px;
	margin-top:0;
}
ul.dropdown ul li {
	float:none;
}
/*Position of submenus*/
ul.dropdown ul ul {
	top:-1px;
	left:100%;
}
ul.dropdown li:hover > ul {
	visibility:visible;
}
/*--------------
 * @section		Base Style Extension
 */
ul.dropdown li a {
	display:block;
	width:auto;
	height:auto;
	padding:0;
}
/*------
 * @section		Base Style Reinitiate: post-override activities
 */
/* style of first dropdown*/
ul.dropdown li.dir {
	color: #999;
	width:103px;
	height:49px;
	padding:6px 0 0;
	line-height:18px;
}
/*-------*/
/*style of second dropdown*/
ul.dropdown li.dor {
	width:182px;
	height:35px;
	background-color:#000;
	color:#999;
	text-align:center;
	background-image:url(/images/nav_grad_grey.png);
	background-repeat:repeat-x;
	background-position:0 50%;
	border: 1px solid #d5d5d5;
	padding:5px 10px;
	margin-top: -1px;
}
/* @section Custom */ 
ul.dropdown ul a {
	width:183px;
}
ul.dropdown ul a.dir {
	width:200px;
}
ul.dropdown li#1 {
	background-image:url(/images/nav_ul_dir.png);
	background-color:#FFF;
	color:#000;
	background-repeat:repeat-x;
	background-position:0 0;
	border-color:#fff #d9d9d9;
	border-style:solid;
	border-width:0 1px 1px;
	padding:7px 10px;
}
/*This what makes the "no link" menu bar red */
ul.dropdown li:hover {
	background-color:#FFF;
	color:#FFF;
	background-image:url(/images/nav_ul_dir.png);
	background-repeat:repeat;
	background-position:0 50%;
	text-align:center;
}
/*------------------------------
 Link Decorations for the Menu Bar (this also affects the drop down menu)*/
ul.dropdown a:link, ul.dropdown a:visited {
	color:#999;
	text-decoration:none;
}
/*-----------------
 * @section		Support Class `dir`
 * @level sep	ul, .class
 
 -- Components override --
    Alignment for the Submenus             */
ul.dropdown-horizontal ul *.dor {
	padding-right:15px;
	text-align:left;
}

ul.dropdown ul li.dir, ul.dropdown ul li.dor {
	padding-right:15px;
}
ul.dropdown ul li.dor {
	height: 35px;
}
ul.dropdown li:hover > a {
	color:#fff;
}
ul.dropdown a:focus {
	border: solid 0px #ccc;
}