@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
html {
}
body {
	background-image:url(/images/bg.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
strong {
	font-size: inherit;
	font-weight: bolder;
}
em {
	font-size:inherit;
	font-style:italic;
}
ul {
	margin: 0 0 0 10px;
	padding-left: 20px;
}
li {

}
#Page, #Header, #Footer, #Navbar {
	width: 960px;
}
#Page {
	margin-left:auto;
	margin-right:auto;
}
#Header {
	height: 66px;
}
.leftLogo {
	float:left;
	width: 655px;
	height:auto;
	margin: 15px 0 0 30px;
}
.greet {
	color: #af292e;
	font-weight: bold;
	font-size:14px;
}
.account ul {
	list-style:none;
	margin-top:5px;
}
.account ul li {
	display: inline;
	color: #999;
	font-weight:bold;
	font-size: 14px;
	margin-right: 20px;
}
li.cart {
	background-image: url('/images/cart.png');
	background-repeat:no-repeat;
	padding-left: 18px;
}
.rightLogo {
	float:right;
	width: 275px;
}
.rightLogo img.placeholder {
	width: 200px;
	height: 30px;
	padding: 5px;
}
#Navbar {
	background-color:#ebebeb;
	display:block;
	height: 49px;
}
#main-nav {
	width: 120px;
}
/* Drop Down Menu CSS is located in style.ddm.css */
#searchwrapper {
	float: left;
	width: 560px;
	height: 49px;
}
.searchFrame {
	background-image: url('/images/searchbg.png');
	background-repeat:no-repeat;
	height: 49px;
	width: 545px;
	display: block;
	position:relative;
}
input.searchBox {
	border:0;
	display:inline;
	height: 23px;
	width: 496px;
	margin: 13px;
}
input.searchBox_submit {
	bottom: 36px;
    display: inline;
    float: right;
    padding: 1px;
    position: relative;
    right: 6px;
}
#contact, #chat {
	color: #999;
	float: left;
	width: 140px;
}

#chat {
	margin: 8px 0 8px 5px;
}
#chat img {
	float: left;
	padding: 10px;
}
#chat h4 {
	font-size: 14px;
	font-weight:bold;
}
#chat span {
	clear:both;
	text-transform:uppercase;
	font-weight:bold;
	word-break:break-all;
}
#contact h4 {
	font-size: 18px;
	font-weight:bold;
	margin: 12px;
	text-align:center;
	vertical-align:middle;
}
#Content {
	margin: 30px;
	width: auto;
}
.categories {
	float: left;
	height: auto;
	width: 300px;
}
.categories h2 {
	color: #af292e;
	font-size: 15px;
	font-weight:bold;
	text-transform:uppercase;
	padding: 0 0 12px;
}
.accessories {
	float: left;
	height: auto;
	width: 224px;
}

#Footer {
	display: block;
	background-color: #ebebeb;
	height: 45px;
	position:relative;
}
.copyright {
	color: #999;
	display:block;
	float: left;
	font-weight:bold;
	margin: 15px 0 0 30px;
	width: 300px;
}
.footerLogo {
	float:right;
	margin: 5px 30px 0 0;
	width: 500px;
}
.footerLogo img {
	float:right;
}

.clear:after, #Content:after, .categories:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
table.products {
}
table.products th {
	color: #999;
	background-color:#ebebeb;
	font-weight:bold;
	vertical-align:top;
	text-align: center;
}
table.products td {
	padding: 3px;
	vertical-align:top;
}
table.products tr.shade {
	background-color: #ebebeb;
}
table.products tr.noshade {
	background-color: #fff;
}
table.product_form th {
	color: #999;
	background-color:#ebebeb;
	font-weight:bold;
	padding: 3px;
	vertical-align:top;
	text-align: right;
}
table.product_form input[type="text"] {
	width: 300px;
}
.wysiwyg {
	width: 300px;
	height: 200px;
}
.error {
	color: #ff0000;
	padding: 20px;
}
.error h4 {
	font-weight: bold;
	padding: 0 0 5px;
}
.error ul {
	padding: 0 0 0 20px;
}
.error ul li {
	padding: 5px;
}
