	<div id="Content">
		<h3>I'm sorry but you are not authorized to view this content</h3>
	
	<!---<cfif CGI.REMOTE_ADDR IS "192.168.106.232">
		 2012/09/12 ATN: Removed Before Going Live <h3>Just for testing:</h3>
		<a href="./requestsetup.cfm">Click here to simulate punchout setup request</a>
	</cfif>--->
	</div>