	<div id="Content">
		<div class="categories">
			<h2>Drive-Thru Headset Systems</h2>
			<a href="./?pg=Product&pcu=Y29SL90MVGHBZTJ6TE94X39WU6KJ0C9Y"><img src="/images/cat_headsets.jpg" /></a>
		</div>
		<div class="categories">
			<h2>Drive-Thru Timer Systems</h2>
			<a href="./?pg=Product&pcu=37ADAGHLDAP0VLW6D8V3KSP1B9YJU295"><img src="/images/cat_drivethrutimer.jpg" /></a>
		</div>
		<div class="categories">
			<h2>OEM Maintenance</h2>
			<a href="./?pg=Product&pcu=H43T0PW77839D7E2COEH753IHM4E5OSQ"><img src="/images/cat_maintenance.jpg" /></a>
		</div>
		<div class="clear"></div>
		<cfinclude template="./_tmp_product_recommended.cfm">
	</div>
