@charset "UTF-8";
@import url(reset.css);

/*
	tinyMCE sets some style rules, hence I have to force overide them with !important.
	I don't like doing this, but I think it's more of an issue with tinyMCE.
*/

html,
body { font-size: 100% !important; font-family: "Century Gothic", Arial, Helvetica, sans-serif !important; }
form { border: 0 !important; margin: 0 !important; padding: 0 !important; }
a { color: #82d727 !important; text-decoration: none !important; }
a:hover { color: #b4d727 !important; text-decoration: underline !important; }

/*
	standard classes
**********************************/
.right { text-align: right !important; }
.left { text-align: left !important; }
.center { text-align: center !important; }
.clearfix:after { content: "."; display: block; width: 100%; height: 1px; clear: both; visibility: hidden; }
.input_button { font-size: 11px !important; height: auto !important; border: 1px solid #777; margin: 0 2px !important; padding: 3px 10px !important; background: url(../images/bg_btn_normal.jpg) repeat-x left center; }
:hover.input_button { background-image: url(../images/bg_btn_normal_hover.jpg); }
.input_button[disabled],
.input_button[disabled="disabled"] { background: #ccc; }
.hider { display: none !important }

/*
	layout elements
**********************************/
#CJFileBrowser { position: fixed; top: 0; left: 0; bottom: 0; right: 0; display: block; width: 100%; height: auto; overflow: hidden; font-family: Arial, Helvetica, sans-serif !important; }
#header { position: fixed; top: 0px; left: 0px; display: block; width: 100%; height: 42px; background: #e6e6e6 url(../images/bg_white_blend_top_42x42.png) repeat-x left center; border-bottom: 1px solid #aaa; overflow: hidden; }
#sidebar { position: fixed; top: 43px; left: 0px; bottom: 25px; display: block; width: 200px; height: auto; overflow: auto; background: #f3f7e6; }
#browser { position: fixed; top: 43px; left: 200px; bottom: 25px; right: 0px; background: #fff; overflow: auto; border-left: 1px solid #aaa; }
#footer { position: fixed; left: 0px; bottom: 0px; width: 100%; height: 24px; background: #555 url(../images/bg_footer.png) repeat-x top left; border-top: 1px solid #999; }
#CJModalBGround { position: fixed; top: 0; left: 0; bottom: 0; right: 0; display: none; width: 100%; height: auto; background: #000; z-index: 100; }

/*
	header elements
**********************************/
#header { font-size: .7em; }
#header #directoryOptions { position: absolute; top: 6px; left: 10px; }
#header #fileOptions { position: absolute; top: 6px; right: 10px; text-align: right; }
#header button { display: block; width: 31px; height: 32px; margin: 0; padding: 0; float: left; clear: none; background: transparent; border: none; }
#header button span { display: none; }
#header button:hover { background-position: 0px -32px; }
#header button:active { background-position: 0px -96px; }
#header button[disabled],
#header button[disabled="disabled"],
#header button.disabled { background-position: 0px -64px !important; cursor: default !important; }
#header button.deactive { display: none !important; }

/*
	header buttons
**********************************/
#header #fileOptions button#iconview { background: url(../images/icn_iconview.png) no-repeat 0px 0px; }
#header #fileOptions button#listview { background: url(../images/icn_listview.png) no-repeat 0px 0px; }
#header #fileOptions button#newfolder { background: url(../images/icn_newfolder.png) no-repeat 0px 0px; }
#header #fileOptions button#fileUpload { background: url(../images/icn_uploadfile.png) no-repeat 0px 0px; }
#header #fileOptions button#fileDelete { background: url(../images/icn_deletefile.png) no-repeat 0px 0px; }
#header #fileOptions button#fileSelect { background: url(../images/icn_selectfile.png) no-repeat 0px 0px; }
#header #directoryOptions button#directoryOut { background: url(../images/icn_directoryout.png) no-repeat 0px 0px;display:none; }
#header #directoryOptions button#directoryIn { background: url(../images/icn_directoryin.png) no-repeat 0px 0px;display:none; }
#header #directoryOptions #directories { width: 250px; height: 28px; line-height: 28px; background: #eee; border-color: #777; font-size: 11px; }
#header #directoryOptions .container { display: block; width: 250px; height: auto; margin: 1px 0 0 10px; float: left; clear: none; white-space: nowrap; }

/*
	sidebar elements
**********************************/
#sidebar ul { margin: 0; padding: 0; list-style: none; background: #fff url(../images/bg_sidebar.png); }
#sidebar ul li { line-height: 16px !important; padding: 3px 15px 3px 35px !important; margin: 0 !important; font-family: Arial, Helvetica, sans-serif !important; font-size: 12px !important; white-space: nowrap; }
#sidebar ul li a { color: #000 !important; text-decoration: none !important; }
#sidebar ul li.hovering { background-color: #d5eb7b !important; border: 0 !important; }
#sidebar ul li.selected { background-color: #b4d727 !important; border: 0 !important; }
#sidebar ul li[rel="Directory"] { display:none; } /*hack to keep directory from being shown*/

/*
	browser elements
**********************************/
#browser ul { margin: 3px; padding: 0; }
#browser ul li { position: relative; display: block; width: 150px; height: 170px; margin: 10px 5px; padding: 0; font-size: 11px; float: left; clear: none; }
#browser ul li .diritem { display: block; width: 150px; height: 170px; border: 2px solid #fff; overflow: hidden; }
#browser ul li .icon { position: relative; display: block; width: 120px; height: 120px; margin: 5px auto 0 auto; border: 1px solid #eee; background: #fff; }
#browser ul li .imgHolder { position: absolute; top: 16px; left: 28px; display: none; width: 65px; height: 88px; background: #fff; overflow: hidden; }
#browser ul li .name { display: block; width: 100%; height: auto; margin-top: 5px; font-weight: bold; text-align: center; }
#browser ul li .namefull { display: none; }
#browser ul li .size { text-align: center; }
#browser ul li .dimensions { display: none; }
#browser ul li .modified { display: none; }
#browser ul li .mimeType { display: none; }
#browser ul li.hovering .diritem { background: #fcfff1 !important; border: 2px solid #e4f3aa !important; }
#browser ul li.selected .diritem { background: #f9ffe3 !important; border: 2px solid #b4d727 !important; }
#browser ul li a { color: #000 !important; text-decoration: none; }
#browser ul li[rel="Directory"] { display:none; } /*hack to keep directory from being shown*/
/*
	footer box
**********************************/
#footer { font-family: Verdana, Geneva, sans-serif; font-size: 9px; color: #bbb; line-height: 24px; }
#footer .margins { padding: 0 10px; }
#footer .callout { display: block; width: 45%; height: 24px; padding: 0; margin: 0; float: left; clear: none; }
#footer .callout strong { color: #ddd; }
#footer .stats { display: block; width: 55%; height: 24px; padding: 0; margin: 0; color: #ccc; float: left; clear: none; overflow: hidden; }
#footer .stats .item { display: block; padding: 0 5px; float: right; clear: none; }
#footer .stats .item strong { color: #fff; }

/*
	CJ Modal Dialog Box
**********************************/
#CJModalDialog { position: absolute; top: 50px; left: 50px; display: none; width: 350px !important; height: auto !important; border: 1px solid #777 !important; z-index: 110 !important; }
#CJModalDialog .innerBox { position: relative; display: block; width: 100%; height: auto; min-height: 30px; background: #ccc url(../images/bg_white_blend_top_42x42.png) repeat-x left top; border-top: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #aaa; border-right: 1px solid #aaa; }
#CJModalDialog .innerBox .margins { padding: 5px; }
#CJModalDialog .innerBox .margins .label { font-size: 10px; color: #444; }
#CJModalDialog .innerBox .margins .indicator { display: block; width: 336px; height: 18px; margin-top: 5px; background-color: #777; background-image: url(../images/bg_progress_bar_full.png); background-repeat: repeat-x; background-position: 0 0; border: 1px solid #999; border-left: 1px solid #999; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }
#CJModalDialog .innerBox .margins .content { font-size: 12px; margin: 10px 5px 10px 0; padding: 0; text-align: left !important; }
#CJModalDialog .innerBox .margins .content .input_text { width: 337px; padding: 2px 0; }
#CJModalDialog .innerBox .margins .buttons { margin-top: 5px; text-align: right !important; }
#CJModalDialog .innerBox .margins .buttons buttons { margin-right: 0 !important; }
/*
	CJ Upload Dialog Items
**********************************/
#CJUploadForm,
#CJUploadForm input { border: 0 !important; margin: 0 !important; padding: 0 !important; }
#CJUploadForm .fields { position: relative; margin: 0; padding: 0; }
#CJUploadForm .fakefile { position: absolute; top: 0px; left: 0px; z-index: 1; }
#CJUploadForm .fields img { position: absolute; border: 0; top: 0; left: 0; margin: 0; padding: 0; z-index: 1; }
#CJUploadForm #uploadFakeFile { position: absolute; top: 5px; left: 2px; display: block; width: 247px; height: 15px; z-index: 3; margin: 0; padding: 1px 0; border: 0 !important; }
#CJUploadForm #fileUploadField { position: relative; width: 338px; text-align: right; z-index: 10; border: 0; padding: 2px 0; margin: 1px 0 0; cursor: pointer; }

/*
	browser window hover information
**********************************/
#CJHoverEffect .name { display: none; }
#CJHoverEffect .icon { display: none; }
#CJHoverEffect .mimeType { display: none; }